:root {
	--blue: #5f93e8;
}

h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.robots {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;	
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: var(--blue);
}


/* head section*/
.head {
	width: 200px;
	height: 150px;
	margin: 0px auto;
	border-radius: 200px 200px 0px 0px;
	margin-bottom: 10px;
}

.head:hover {
	width: 300px;
	transition: 1s ease-in-out;
}

.eyes {
	display: flex;
	
}

.left_eye, .right_eye {
width: 20px;
height: 20px;
border-radius: 15px;
background-color: white; 
	
} 

.left_eye { 
	position: relative;
	top: 100px;
	left: 40px;
} 

.right_eye { 
	position: relative;
	top: 100px;
	left: 120px;
}


/*Upper Body Section*/
.upper_body {
	width: 300px;
	height: 150px;
	display: flex;
	
}

.left_arm, .right_arm {
	width: 40px;
	height: 125px;
	border-radius: 100px;
	
}

.left_arm {
	margin-right: 10px;
}

.right_arm {
	margin-left: 10px;
}

.torso {
	width: 200px;
	height: 200px;
	border-radius: 0px 0px 50px 50px;
}

.left_arm:hover {
	-webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
	
}

.right_arm:hover {
	-webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
	
}



/* Lower Body  Section*/
.lower_body {
	width: 200px;
	height: 200px;
	margin: 0px auto;
	display: flex;
}

.left_leg, .right_leg { 
	width: 40px;
	height: 120px;
	border-radius: 0px 0px 100px 100px;
} 

.left_leg { 
	margin-left: 45px;
} 

.right_leg { 
	margin-left: 30px;
}

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
	
}

.right_leg:hover {
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

